<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label for="usuario">
            Usuario
            <input type="text" name="usuario" id="usuario">
        </label>
        <label for="contraseña">
            contraseña
            <input type="password">
        </label>
        <button type="submit">Ingresar</button>
    </form>
</body>
</html>