<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesIngreso.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> <!-- Para pdoer utilizar google fonts -->
    <script src="https://kit.fontawesome.com/a8a8077e98.js" crossorigin="anonymous"></script> <!-- Para poder utilizar font aweasome -->
    <title>Document</title>
</head>
<header>
       
        <div class="headerFlex">
            <img src="/images/logo-mercado-liebre.svg" alt="logo" class="logo">
            <div class="buscador">
                <input type="search" name="" id="" placeholder="Buscar productos, marcas, etc..">
                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            </div>
            <p class="descripHeader"> <i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>       
        </div>
        <div class="links">
            <ul class="listaLinks1">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">ayuda</a></li>
            </ul>
            <ul class="listaLinks2">
                <li><a href="/registro">Creá tu cuenta  <i class="fa-sharp fa-solid fa-id-card"></i> </a></li>
                <li><a href="/ingreso">Ingresá <i class="fa-sharp fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </div>
        <div class="burger-menu-div">
            <i class="fas fa-bars icon-burger-menu"></i>
        </div>
   
   
</header>

<body>
    
    <div class="formulario">
        <form action="">
            <label for="usuario">
                Usuario
                <input type="text" name="usuario" id="usuario">
            </label>
            <label for="contraseña">
                contraseña
                <input type="password">
            </label>
            <button type="submit">Ingresar</button>
        </form>
    </div>
</body>
</html>