<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> <!-- Para pdoer utilizar google fonts -->
    <script src="https://kit.fontawesome.com/a8a8077e98.js" crossorigin="anonymous"></script> <!-- Para poder utilizar font aweasome -->
    <title>Document</title>
</head>
<body>
    <header>
       
            <div class="headerFlex">
                <img src="/images/logo-mercado-liebre.svg" alt="logo" class="logo">
                <div class="buscador">
                    <input type="search" name="" id="" placeholder="Buscar productos, marcas, etc..">
                    <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                </div>
                <p class="descripHeader"> <i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>       
            </div>
            <div class="links">
                <ul class="listaLinks1">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">ayuda</a></li>
                </ul>
                <ul class="listaLinks2">
                    <li><a href="/registro">Creá tu cuenta  <i class="fa-sharp fa-solid fa-id-card"></i> </a></li>
                    <li><a href="/ingreso">Ingresá <i class="fa-sharp fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </div>
            <div class="burger-menu-div">
                <i class="fas fa-bars icon-burger-menu"></i>
            </div>
       
       
    </header>
    <img src="/images/img-home-banner.jpg" alt="banner" class="banner">
    <main>    
        <h2 class="titulares">Ofertas</h2>
        <section>
            
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera"> <!-- Para poder acceder a una imágen que ya tengo descargada
                                                armo carpeta public archivos estáticos, para poder acceder a ellos desde
                                                el frontend
                                            Debo avisar a express que guarde esos arhivos en la carpeta public
                                        Eso lo gafo con app.use(express.static('public')) -->
            
               
                <div class="bloque-info">                
                <i class="fa-solid fa-truck"></i> 
                <div class="precioYDescuento">
                    <p class="precio">$6770</p>                      
                    <p class="descuento">40% OFF</p>
                </div>
                <p class="descrip">Cafetera Moulinex</p>
                </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook">
                <div class="bloque-info">
                    
                    <i class="fa-solid fa-truck"></i>
                    <div class="precioYDescuento">
                        <p class="precio">$230000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <p class="descrip">MacBook Pro 2019</p>
                </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">
                <div class="bloque-info">
                    
                    <i class="fa-solid fa-truck"></i>
                    <div class="precioYDescuento">
                        <p class="precio">$70500</p>
                        <p class="descuento">10% OFF</p>
                    </div>
                    <p class="descrip">Samsung Galaxy S10</p>
                </div>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Smart TV">
                <div class="bloque-info">
                    
                    <i class="fa-solid fa-truck"></i>
                    <div class="precioYDescuento">
                        <p class="precio">$23200</p>
                        <p class="descuento"2>5%OFF</p>
                    </div>
                    <p class="descrip">SmartTV Samsung 43"</p>
                </div>
            </article>
        </section>
        <h2 class="titulares">Basado en tu última visita</h2>
        <section> 
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera"> <!-- Para poder acceder a una imágen que ya tengo descargada
                                                armo carpeta public archivos estáticos, para poder acceder a ellos desde
                                                el frontend
                                            Debo avisar a express que guarde esos arhivos en la carpeta public
                                        Eso lo gafo con app.use(express.static('public')) -->      
                                                     
                                  
                <div class="bloque-info">
                    
                    <i class="fa-solid fa-truck"></i>
                    <div class="precioYDescuento">
                        <p class="precio">$6770</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <p class="descrip">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook">
                <div class="bloque-info">
                    
                    <i class="fa-solid fa-truck"></i>
                    <div class="precioYDescuento">
                        <p class="precio">$230000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <p class="descrip">MacBook Pro 2019</p>
                </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">
                <div class="bloque-info">
                    
                    <i class="fa-solid fa-truck"></i>
                    <div class="precioYDescuento">
                        <p class="precio">$70500</p>
                        <p class="descuento">10% OFF</p>
                    </div>
                    <p class="descrip">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Smart TV">
                <div class="bloque-info">
                    
                    <i class="fa-solid fa-truck"></i>
                    <div class="precioYDescuento">
                        <p class="precio">$23200</p>
                        <p class="descuento">5%OFF</p>
                    </div>
                    <p class="descrip">SmartTV Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <i class="fa-sharp fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-sharp fa-solid fa-gift"></i>
            <h4>Envío gratis desde $2500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section class="Copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>