*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
i{
    font-size: 1em;
    margin-bottom: 10px;
}
img{
    width: 100%;
    
}
body{
    position: absolute;
    background-color: #ebebeb;
}


/* Header */

header{
    position: fixed;
    z-index: 10;
    background-color:#EAC926;
    text-align: center;
    width: 100%;
    height: 22vh;
}


.headerFlex{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-between;
}

.logo{
    width: 50%;
    max-height: 18vh;
}
.buscador{
    display: flex;
    width: 50%;
    align-items: center;
}
.buscador i{
    font-size: 16px;
    margin:  0.25rem 0.5rem;
    width: 5%;
}
.buscador input{
    width: 95%;
    height: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    margin-left: 0.75rem;
}
.descripHeader{
   width: 100%;
}
.links{
    display: none;
}
.links i{
    font-size: 16px;
}
a{
    text-decoration: none;
}
header li{
    color: #03264C;
    margin: 0.5rem;
    display: none;
}
.listaLinks1{
    position: relative;
    left: 5%;
}
.listaLinks2{
    position: relative;
    right: 5%;
}
.burger-menu-div{ 
    text-align: center;
}
.icon-burger-menu{
    font-size: 1.25rem;
    padding: 0.75rem 0.5rem;
    margin: 1.2rem;
    margin-top: 0.5rem;
    color: #ebebeb;
    background-color: #1259c3;
    border-radius: 0.25rem;
}

/* Main */
main{
    
    top: 50%;
    width: 90%;
    text-align: center;
    margin: auto;

}
.banner{
    margin-top: 22vh;
}
.titulares{
    font-size: 24px;
    color:#666;
    text-align: left;
    margin: 1.5rem 1rem 0.75rem;
}
p{
    font-size: 12px;
}
.precio{
    font-size: 18px;
    font-weight: bold;
}
.descuento{
    font-size: 16px;
    color: #39b54a;
    font-weight: bold;
    margin-left: 0.25rem;  
}
.descrip{
    display: none;
    color: white;
    height: 2rem;
    font-size: 16px;
    font-weight: 600;
}
.fa-truck{
    color: #39b54a;
    position: absolute;
    right: 10%;
    top: -10%;
    transition: transform 600ms;
}
.fa-truck:hover{
   transform:  rotate(-90deg);
}

.precioYDescuento{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

article{
    position: relative;
    width: 90%;
    background-color: white;
    margin: 5px 5px;
}
.bloque-info{
    position: relative;
    text-align: left;
    background-color:white;
    border-top: 1px solid #ebebeb;
    padding-left: 10px;
    padding-bottom: 1rem;
}

main section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
/* Footer */
footer{
    margin-top: 2rem;
    text-align: center;
}
footer section{
    margin-bottom: 1em;
}
footer i{
   
   color: #1259c3;;
   transition: color 600ms;
}
footer i:hover{
    color:#EAC926;
}
footer h4{
    color:black;
}
footer p{
    color:#666;
}

/* Media queries */
@media(min-width:361px){
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 47%;
    }
    .descrip{
        display: block;
        transition: color 450ms;
    }
    .descrip:hover{
        color: black;
    }
    
    .links{
        display:flex;
        justify-content: space-between;
    }
    header li{
        color: #03264C;
        display: none;
    }
    header ul{
        width: 30%;
    }
}

@media(min-width:768px){
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 22%;
    }

    .banner{
        margin-top: 12vh;
    }
    header{
        height: 12vh;
    }
    .logo{
        max-height: 8vh;
        width: 33%;
    }
    .headerFlex{
        display: flex;
        justify-content: space-between;
    }
   
    .buscador{
        width:33%;
        height: 2rem;
    }
    .descripHeader{
        width:33%;
    }

    .links{
        display:flex;
    }
    .listaLinks1{
        display: flex;
        width: 50%;
        justify-content: flex-start; 
    }
    .listaLinks2{
        display: flex;
        width: 50%;
        justify-content: flex-end;   
    }
    .descrip{
        display: block;
        transition: color 450ms;
    }
    .descrip:hover{
        color: black;
    }
    .burger-menu-div{ 
        display: none;
    }
    header li{
        display: block;
    }
    footer{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    footer section{
        width: 30%;
    }
    .copyright{
        width: 100%;
    } 
 
}
