*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
i{
    font-size: 1em;
    margin-bottom: 10px;
}
img{
    width: 100%;
    
}
body{
    position: absolute;
    background-color: #ebebeb;
    width:100%
}
/* Header */
header{
    position: fixed;
    z-index: 10;
    background-color:#EAC926;
    text-align: center;
    width: 100%;
    height: 22vh;
}


.headerFlex{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-between;
}

.logo{
    width: 50%;
    max-height: 18vh;
}
.buscador{
    display: flex;
    width: 50%;
    align-items: center;
}
.buscador i{
    font-size: 16px;
    margin:  0.25rem 0.5rem;
    width: 5%;
}
.buscador input{
    width: 95%;
    height: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    margin-left: 0.75rem;
}
.descripHeader{
   width: 100%;
}
.links{
    display: none;
}
.links i{
    font-size: 16px;
}
a{
    text-decoration: none;
}
header li{
    color: #03264C;
    margin: 0.5rem;
    display: none;
}
.listaLinks1{
    position: relative;
    left: 5%;
}
.listaLinks2{
    position: relative;
    right: 5%;
}
.burger-menu-div{ 
    text-align: center;
}
.icon-burger-menu{
    font-size: 1.25rem;
    padding: 0.75rem 0.5rem;
    margin: 1.2rem;
    margin-top: 0.5rem;
    color: #ebebeb;
    background-color: #1259c3;
    border-radius: 0.25rem;
}

.formulario{
    margin-top: 32vh;
    background-color: #EAC9261f;
    width: 80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
   
    max-width: 1000px;
    font-size: 22px;
    text-align: center;
}

label{
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
.checkLabel{
    margin-top: 0.25rem;
    margin: 0.25rem; 
}
.botonFotoUsuario{
    
    display: block;
    width: 8.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    color:transparent;
}    
button{
    width: 33%;
    height: 2rem;
}

/* Media queries */
@media(min-width:361px){
    .links{
        display:flex;
        justify-content: space-between;
    }
    header li{
        color: #03264C;
        display: none;
    }
    header ul{
        width: 30%;
    }
}
@media(min-width:768px){
    .formulario{
        margin-top: 15vh;
    }
    header{
        height: 12vh;
    }
    .logo{
        max-height: 8vh;
        width: 33%;
    }
    .headerFlex{
        display: flex;
        justify-content: space-between;
    }
   
    .buscador{
        width:33%;
        height: 2rem;
    }
    .descripHeader{
        width:33%;
    }

    .links{
        display:flex;
    }
    .listaLinks1{
        display: flex;
        width: 50%;
        justify-content: flex-start; 
    }
    .listaLinks2{
        display: flex;
        width: 50%;
        justify-content: flex-end;   
    }
    .burger-menu-div{ 
        display: none;
    }
    header li{
        display: block;
    }
}