*{
    font-family: 'Roboto', sans-serif;
}
/* Header */
header{
    background-color:#EAC926;
  
}
header li{
    color: #03264C;
    display: none;
}
.burger-menu-div{ 
    text-align: center;
}
.icon-burger-menu{
    padding: 0.75rem 0.5rem;
    margin: 1.2rem;
    color: #ebebeb;
    background-color: #1259c3;
    border-radius: 0.2rem;
}
/* Main */
main{
    width: 90%;
    text-align: center;
    background-color: #ebebeb;
    margin: auto;
}
p{
    font-size: 12px;
}
h2{
    font-size: 36px;
}
.precio{
    font-size: 28px;
    font-weight: bold;
}
.descuento{
    color: green;
    font-size: 22px;
    font-weight: bold;
    margin-top: -1.2rem;
    margin-bottom: 1rem;
}
.descrip{
    display: none;
    font-size: 22px;
    font-weight: 600;
}
.fa-truck{
    color: green;
    display: block;
    font-size: 2rem;
}



.bloque-art{
    display: inline-block;
    background-color: white;
    width: fit-content; 
    margin-bottom: 10px;
}
.bloque-info{
    text-align: left;
    background-color: white;
    border-top: 1px solid #ebebeb;
    padding: 15px; 
}
/* Footer */
footer{
    text-align: center;
}
footer i{
   font-size: 2em;
   color: #1259c3;;
   margin-bottom: 10px;
}
footer h4{
    color:black;
}
footer p{
    color:#666;
}

/* Media queries */
@media(min-width:361px){
    .bloque-art{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .descrip{
        display: inline-block;
    }
    .burger-menu-div{ 
        display: none;
    }
    header li{
        display: inline;
    }
  
 
}
@media(min-width:769px){
    .bloque-art{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .descrip{
        display: block;
    }
    .burger-menu-div{ 
        display: none;
    }
    header li{
        display: block;
    }
   
 
}
